.App {
  width: stretch;
  text-align: left;
  overflow-y: hidden;
}

.content {
  margin: 0 auto;
  background-color: white;
  height: 297mm;
  width: 210mm;
  font-size: 12px;
}

a {
  color: var(--color-gray-1);
  text-decoration: none;
}

@media (min-width: 794px) {
  .App {
    padding: 50px 0;
  }
}
