.y .HorizontalBarChartLabel {
  transform: rotate(22deg);
}

.x .HorizontalBarChartLabel {
  transform: rotate(60deg);
  font-size: 9px;
  color: #545454;
}

.HorizontalBarBackgroundContainer {
  position: absolute;
  top: 24px;
  left: 226px;
}

.backgroundBar {
  fill: #7B7B7B;
  shape-rendering: crispedges;
}

.HorizontalBarBackgroundContainer .tick text {
  transform: rotate(60deg);
}
